/* Quiz */
.quiz-container {
  padding: 20px;
  background-color: #F0F4FF; /* Light Blue */
  color: #1A202C;
  border-radius: 8px;
}

.score {
  font-size: 24px;
  margin-bottom: 20px;
  color: #F9A826; 
  font-weight: bold;
}

.question {
  font-size: 24px;
  margin-bottom: 20px;
  color: #1A202C;
}

.option-button {
  display: block;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #D1D5DB; 
  background-color: #F9FAFB; 
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.option-button:hover {
  background-color: #F9A826; /* Golden Yellow on hover */
}

.option-button.selected {
  background-color: #68D391; 
  border: 2px solid #68D391; 
}

.next-button {
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #38A169; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
}

.next-button:hover {
  background-color: #2F855A; 
  transform: scale(1.05); 
}

/* Result */
.result-container {
  padding: 20px;
  text-align: center;
  background-color: #F0F4FF; /* Light Blue */
  color: #1A202C;
  border-radius: 8px;
}

.result-title {
  font-size: 24px;
  font-weight: bold;
  color: #F9A826; /* Golden Yellow */
}

.result-score {
  margin-top: 15px;
  font-size: 18px;
  color: #1A202C; 
}

.bold {
  font-weight: bold;
  color: #38A169; 
}

.restart-button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #F9A826; 
  color: #1A202C; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.restart-button:hover {
  background-color: #38A169; 
}
